.explorepage
  .explorepage__content
    .explorepage__content__introduction
      %h1 Twitterappへようこそ
      %h3
        ここでは気軽に自分の考えていることを呟き
        %br
        、思い出に残る写真を投稿して保存しよう、
        %br
        いろんな人と繋がり、違う視点から物事を見
        %br
        てみよう。
    .explorepage__content__login
      = render 'users/sessions/new'
      = render 'users/registrations/new'
    