.homepage
  .homepage__header
    .homepage__header__content
      .sun.bi.bi-sun
      %h2.btn.btn-outline-primary ホーム
      %h2.btn.btn-outline-primary 話題を検索
      %h2.btn.btn-outline-primary 通知
      %h2.btn.btn-outline-primary メッセージ
      %h2.btn.btn-outline-primary ブックマーク
      %h2.btn.btn-outline-primary リスト
      %h2.btn.btn-outline-primary プロフィール
      %h2.btn.btn-outline-primary もっと見る

  .homepage__middle
