.homepage
  .homepage__left
    .homepage__left__content
      = link_to root_path do
        %i.fa.fa-home
      %h2.btn.btn-outline-primary ホーム
      %h2.btn.btn-outline-primary メッセージ
      %h2.btn.btn-outline-primary リスト
      %h2.btn.btn-outline-primary プロフィール

  .homepage__middle
    .homepage__middle__header
      %h3 ホーム
    .homepage__middle__tweet__space
    -# = form_with(local: true) do |form|

  .homepage__right
    .homepage__right__header
      %h3.btn.btn-outline-primary ログイン
      %h3.btn.btn-outline-primary 新規登録