* {
  box-sizing: border-box;
}

.homepage{
  background-image: url(../images/bird.jpg);
  display: flex;
}

.homepage__left {
  height: 100vh;
  width: 360px;
  overflow: scroll;
  &__content {
    height: 100vh;
    width: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    i{
      font-size: 40px;
      margin-bottom: 20px;
    }
    h2{
      font-size: 20px;
      margin-bottom: 20px;
    }
    .btn{
      width: 150px;
      border-radius: 20px;
    }
  }
}

.homepage__middle {
  height: 100vh;
  border: solid 1px lightgray;
  @mixin first{
    width: 600px;
    overflow: scroll;
    border: solid 1px lightgray;
  }
  &__header{
    @include first;
    h3{
      margin: 10px;
    }
  }
}

.homepage__right {
  height: 100vh;
  width: 450px;
  &__header{
    height: 50px;
    width: 450px;
    display: flex;
    justify-content: center;
    h3{
      font-size: 20px;
      margin: 15px;
    }
    .btn{
      width: 150px;
      height: 40px;
      border-radius: 20px;
    }
  }
}