.userpage{ 
  display: flex;
}

.userpage__middle{
  height: 100vh;
  overflow: scroll;
  width: 600px;
  border: solid 1px lightgray;
  &__up{
    width: 600px;
    height: auto;
    position: relative;
    border: solid 1px lightgray;
    &__header{
      width: 600px;
      height: 200px;
      border: solid 1px lightgray;
    }
    label{
      display: block;
      margin: 0;
    }
    .hidden-field{
      display: none;
    }
    &__usericon{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: lightgray;
      position: absolute;
      left: 5px;
      top: 120px;
    }
    &__blank{
      width: 600px;
      height: 50px;
    }
    .user__profile{
      width: 600px;
      height: auto;
      border: 0;
    }
    &__btn__space{
      width: 600px;
      height: 60px;
    }
    .profile__btn{
      &:hover{
        color: #4da6ff;
        background: #ffffff;
      }
      position: absolute;
      right: 10px;
      bottom: 10px;
      border-radius : 20px;
      font-size : 18px;
      text-align : center;
      cursor : pointer;
      float: right;
      padding-top: 100px;
      margin-right: 5px;
      padding : 10px;
      background : #4da6ff;
      color : #ffffff;
      line-height : 20px;
      transition : .3s;
      border : 2px solid #4da6ff;
    }    
  }
}


.userpage__right{
  height: 100vh;
  width: 450px;
}

.profile__usericon{
  border-radius: 50%;
}